<h1> Create a page for an Artist! </h1>

<form action="/artists" method="POST">
    <b>
    <label for="a_name">Name</label>
    <input type="text" name="artist[name]" id="a_name">
    <b>
    <label for="a_age">Age</label>
    <input type="number" name="artist[age]" id="a_age">
    <b>
    <label for="a_bio">Bio</label>
    <input type="text" name="artist[bio]" id="a_bio">

    <input type="submit" value="Create Page">

</form>